*.code-workspace
*.epub/
*.pdf
*.mobi
*.azw3
*.cbr
*.cbz
*.chm
*.zip
*.docx
*.doc
*.rtf
*.m4b
*.m4a
*.mp3

# Build artifacts
/dist/
/build/
/*.egg-info
*.egg-info/
/dist
/build

# Python cache
/bookworm/__pycache__
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/
/plans
